* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
  --title-color: #1DD05D;
}

body {
  background: var(--dark);
  font-family: "Space Grotesk", sans-serif;
  color: var(--light-bg);
}

img{

    width: 4vh;
    height: auto;

}