/* taken from https://codepen.io/noahraskin/pen/OJpopPP */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
  --title-color: #1DD05D;
}

body {
  background: var(--dark);
  font-family: "Space Grotesk", sans-serif;
  color: var(--light-bg);
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
  justify: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding:  62px 142px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: var(--dark);
  border: solid var(--title-color);
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

.box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid var(--purple);
  padding-left: 12px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: var(--title-color);
  background: transparent;
  box-shadow: 0px 0px 0px 1px var(--title-color);
  transition: background 0.4s ease;
}

.button:hover {
  background: var(--light-gray-bg);
  color: var(--dark)
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

img{

  display: block;
  margin: auto;
}

/* RESPONSIVE QUERIES */

.title{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 100px;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3em;
  margin-top: 5%;
}

.fancyTextTitle {
	font-size: 4em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: transparent;
	-webkit-text-stroke: 1.5px var(--title-color);
	text-shadow: 0 0 0 var(--text-gray);
	transition: all 250ms;
}

.fancyTextSubTitle{
	font-size: 3em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: transparent;
	-webkit-text-stroke: 1.5px var(--title-color);
	text-shadow: 0 0 0 var(--text-gray);
	transition: all 250ms;
}

.fancyTextTitle:hover {
	text-shadow: 4px 4px 0 #fff;
	transform: translate(-2px, -2px)
}

.fancyTextSubTitle:hover {
	text-shadow: 4px 4px 0 #fff;
	transform: translate(-2px, -2px)
}

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}

