<html>
 <head>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/error.css') }}">

   <title>Uh Oh! An error ocurred!</title>
 </head>
 <body>
  <div id="container">
    <div id="content">
      <main class="center">
        <h1>
          <span class="glitch" data-text="Uh Oh! An error ocurred!">
          Uh Oh! An error ocurred!
          </span>
        </h1>
      </main>
    </div>
  </div>

  <div>
      
      <!-- &#9660; -->
    <h1 onclick="" id="content-dropdown">Error information &#9658; </h1>
    <h2 class="hidden">{{error}}</h2>

  </div>


  <div id="container">
    <div id="content">
      <a href="../" class="button">Go back to homepage</a>
    </div>
  </div>
  

 </body>
</html>