<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{display_name}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/playlists.css') }}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/webCart.css') }}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/toast.css') }}">
    
</head>
<body>

    <div class="modalBackdrop"></div>

    <dialog id="dialogue">

        <h1 class="fancyTextSubTitle"> Processing playlists </h1>

        <div class="loaderContainer">
            <div class="loader"></div>
        </div> 

        <div class="loaderContainer">Please wait</div>
        
    </dialog>

    <div id="snackbar">...</div>
    <div id="warning-snackbar"></div>
    <nav role="navigation">
        <div id="menuToggle">

            <input type="checkbox" id="menuCheckbox" />
            <span></span>
            <span></span>
            <span></span>
            
            <ul id="menu">

                <h3>Playlists to scan</h3>

            </ul>
            
        </div>
    </nav>
    <div class="wrapper">

    <!--                                             Comment here just to make clear disconnect from sidebar code                                                -->
	<p class="fancyTextTitle">{{display_name}}</p>
	<p class="fancyTextSubTitle">Pick what playlists you want to check for AI</p>
    </div>
    
        <div class="wrap">
        {% for playlist in playlists %}

            <div class="box">
                <div class="box-top">
                <img src={{playlist["images"][0]["url"]}} onerror="this.onerror=null; this.src='url_for(\'static\',filename=\'images/spotify.png\')'" alt="A users playlist icon"  draggable="false" width="270px" height="270px">
                <div class="title-flex">
                    <h3 class="box-title">{{ playlist["name"] }}</h3>
                    {%if playlist['collaborative']%}
                    <p class="user-follow-info">Collabrative Playlist</p>
                    {%else%}
                    <p class="user-follow-info">Non Collabrative Playlist</p>
                    {%endif%}
                </div>
                
                <p class="description">{{playlist["description"]}}</p>
                </div> 
                <a class="button" onclick="addToCart(this.name,this.id,this.getAttribute('snapshot-id'))"  id='{{playlist["id"]}}' name='{{playlist["name"]}}' snapshot-id='{{playlist["snapshot_id"]}}' >Add to check list</a>
            </div>

        {% endfor %}
<div class="footer">
  <a class="footer-button" onclick="scanPlaylists()" >>>> Scan playlists <<< </a>
</div>


<script src="{{url_for('static', filename='js/playlists.js')}}"></script>



{% if token_refresh %}
{% set token_refresh = False %}

<script>
    var x = document.getElementById("warning-snackbar");

    x.innerHTML = "<a href=\"../?login=False\"> ⚠️ Your login session is close to ending, please click me to log back in ⚠️ </a>"

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10 * 1000);
</script>

{% endif %}

</body>
</html>