<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{display_name}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/playlists.css') }}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/webCart.css') }}">
    
</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">

            <input type="checkbox" id="menuCheckbox" />
            <span></span>
            <span></span>
            <span></span>
            

            <ul id="menu">

            <li>
                <a >
                    <label >Playlists to scan and remove AI from</label>
                </a>
            </li>

            </ul>
        </div>
    </nav>
    <div class="wrapper">

    <!--                                             Comment here just to make clear disconnect from sidebar code                                                -->
	<p class="fancyTextTitle">{{display_name}}</p>
	<p class="fancyTextSubTitle">Pick what playlists you want to check for AI</p>
    </div>
    
        <div class="wrap">
        {% for playlist in playlists %}

            <div class="box">
                <div class="box-top">
                <img src={{playlist["images"][0]["url"]}} onerror="this.onerror=null; this.src='url_for(\'static\',filename=\'images/spotify.png\')'" alt="A users playlist icon"  draggable="false" width="270px" height="270px">
                <div class="title-flex">
                    <h3 class="box-title">{{ playlist["name"] }}</h3>
                    {%if playlist['collaborative']%}
                    <p class="user-follow-info">Collabrative Playlist</p>
                    {%else%}
                    <p class="user-follow-info">Non Collabrative Playlist</p>
                    {%endif%}
                </div>
                
                <p class="description">{{playlist["description"]}}</p>
                </div>
                <a class="button" onclick="addToCart(this.name)" name='{{playlist["name"]}}'>Add to check list</a>
            </div>

        {% endfor %}
<script src="{{url_for('static', filename='js/playlists.js')}}"></script>
</body>
</html>